@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins font-normal scroll-smooth;
  }
}

@layer components {
  .socmed {
    @apply text-putihDark;
  }

  .project-card {
    @apply w-[448px] h-[148px] bg-hitamDark flex flex-col justify-center p-5 hover:scale-110 hover:bg-hitamLight;
  }
}